In [6]:
import numpy as np

zp = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
ks = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

# 1. c использованием intercept:
int_1 = (np.mean(zp * ks) - (np.mean(zp) * np.mean(ks))) / (np.mean(zp ** 2) - np.mean(zp) ** 2)
round(int_1, 4)

2.6205

In [8]:
int_2 = np.mean(ks) - int_1 * np.mean(zp)
round(int_2, 4)

444.1774

In [15]:
int_res = int_2 + int_1 * zp

for el in int_res:
    print(round(el, 2))

535.9
562.1
942.08
968.29
549.0
627.62
585.69
837.26
758.64
732.44

In [9]:
# 2. без intercept:
noint_1 = np.mean(ks) / np.mean(zp)
round(noint_1, 4)

7.001

In [13]:
noint_res = noint_1 * zp

for el in noint_res:
    print(round(el, 2))

245.03
315.04
1330.19
1400.2
280.04
490.07
378.05
1050.15
840.12
770.11

In [17]:
import pandas as pd

tab = pd.DataFrame({'зарплата': zp, 'кред. скоринг': ks, 'с интерсептом': int_res, 'без интерсепта': noint_res}, columns=['зарплата', 'кред. скоринг', 'с интерсептом', 'без интерсепта'])
tab

   зарплата  кред. скоринг  с интерсептом  без интерсепта
0        35            401     535.896218      245.034517
1        45            574     562.101607      315.044379
2       190            874     942.079745     1330.187377
3       200            919     968.285134     1400.197239
4        40            459     548.998913      280.039448
5        70            739     627.615079      490.069034
6        54            653     585.686457      378.053254
7       150            902     837.258190     1050.147929
8       120            746     758.642023      840.118343
9       110            832     732.436634      770.108481